on boot
# Double Tap
    chown system system /sys/touchpanel/double_tap
    chmod 0666 /sys/touchpanel/double_tap

service vendor.power.stats-hal-1-0-mock /system/product/vendor_overlay/30/bin/hw/android.hardware.power.stats@1.0-service.mock
    interface android.hardware.power.stats@1.0::IPowerStats default
    class hal
    user system
    group system
