type power_qti, coredomain, domain;
type power_qti_exec, system_file_type, exec_type, file_type;

init_daemon_domain(power_qti)

allow power_qti system_file:file r_file_perms;

allow power_qti sysfs_graphics:dir search;
allow power_qti sysfs_graphics:file r_file_perms;

# To do powerhint on nodes defined in powerhint.json
allow power_qti input_device:dir search;
allow power_qti input_device:chr_file rw_file_perms;

binder_call(power_qti, hal_audio)

allow power_qti sysfs_battery_saver:dir r_dir_perms;
allow power_qti sysfs_battery_saver:file rw_file_perms;
allow power_qti sysfs_touchpanel:dir search;
allow power_qti sysfs_touchpanel:file rw_file_perms;
